/* Загальні стилі для сторінки */
.body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  /* Контейнер для списку продуктів */
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
  }
  
  /* Стилі для кожного продукту */
  .product {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
  
  .product:hover {
    transform: translateY(-5px);
  }
  
  .product img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  .product h2 {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
  }
  
  .product p {
    font-size: 1rem;
    color: #666;
    margin: 10px 0;
}