@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  line-height: normal;
}
.Columns-container { 
    max-width: 1200px; 
    margin: 0 auto;
    padding: 30px;
    overflow: hidden;  
  }
  
  /* Стилі для заголовка головної сторінки */
  .Columns-title {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
  }
 

 
  