/* Загальні стилі для сторінки */
body { 
  margin: 0;
  padding: 0;
}

.ticker-container{
  position: relative;
  display: flex; 
  max-width: 100%;
}
/* Контейнер для списку тікерів */
.ticker-slider {
  position: relative;
  max-width: 100%;
  overflow: hidden; 
}

/* Стилі для кожного тікера */
.ticker-image {
  width: 100%;
  height: 400px; 
  border-radius: 8px;   
}

.ticker.active {
  opacity: 1;
  transition: opacity 0.9s ease-in-out; /* Плавна анімація зміни прозорості */
}

.ticker:not(.active) {
  position: absolute;
  top: 0;
  left: 100%;
  opacity: 0;
  pointer-events: none; /* Заборона кліків на неактивних тікерах */
}

/* Стилі для стрілок */
.arrow-left, .arrow-right {
  position: absolute;  
  width: 52px; /* Розмір кружечка */
  height: 52px; /* Розмір кружечка */
  border-radius: 50%; /* Зробимо кружечок */ 
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255); /* Білий колір кружечка */
  top: calc(50% - 26px); /* Центруємо вертикально */
  transition: background-color 0.3s ease; /* Привабливий плавний перехід для фону */
  user-select: none;  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
}

/* Стилі для лівої стрілки */
.arrow-left {
  left: 10px; /* Відступ зліва */
  top: -210px;   
}

/* Стилі для правої стрілки */
.arrow-right {
  right: 10px; /* Відступ зправа */
  top: -210px;  
} 
  .next {
  position: relative;
  width: 100%;
  display: flex; 
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1096px; 
  
  }

  .arrow-left:hover, .arrow-right:hover {
    background-color: rgb(200, 200, 200); /* Сірий колір кружечка при наведенні */
  }